* {
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  margin: 15px 0 15px 0;
  color: white;
}

.div-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-body {
  padding: 0 5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  min-width: 250px;
  background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #232323;
}

.addform {
  background-color: #fff;
  padding: 10px;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

button {
  width: 25%;
  font-size: 30px;
  border: none;
  color: rgb(92, 0, 92);
}
  
ul {
  margin: 0 0 0 10px;
  padding: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li {
  margin: 0 0 0 50px;
  padding: 15px 0;
  transition: opacity 1s ease-in-out;
}

ul li:nth-child(odd) {
  background: #f0efef;
}

ul li:hover {
  background: rgb(179, 179, 179);
}

.mark {
  text-decoration: line-through;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
  
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
  
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}